<!-- <div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-3" style="float:left">      
          <h1><span class="badge badge-primary">MENU</span></h1>
      
      <div class="vertical-menu ">
  <a href="#">Result Even 2018</a>
  <a href="#">College Online</a>
  <a href="#">MOU's information</a>
  <a href="#">Programme Offered</a>
  <a href="#">Facilities</a>
  <a href="#">Regular Activities</a>
  <a href="#">CDTP</a>
  <a href="#">CED</a>
  <a href="#">Right to information</a>
  <a href="#">Grievance Redressal Mechanism</a>
  <a href="#">Student’s Mentoring and Grievance Cell</a>
  <a href="#">Anti Ragging Committee</a>
  <a href="#">Women’s Grievance Committee</a>
  <a href="#">Newsletter</a>
  <a href="#">ICGESD-19</a>
  <a href="#">Citizen Charter</a>
  <a href="#">Faculty Information</a>
  <a href="#">PATENTS</a>
  <a href="#">Audit Statement</a>
</div>  
    </div>   
    <div class="col-sm-9">
      <img class="card-img-top" src="assets/images/home-img.jpg"alt="Card image" style="width:100%">
      <p align="justify" class="cp-paragraph" style="text-align:justify">
          <ul class=" nav-tabs">
              <li class="nav-item">
                  Recipient of Govt. Of Maharashtra’s “Best Polytechnic Award – 1996”.
              </li>
              <li class="nav-item">
                  Recipient of ISTE Narsee-Monjee Award: “The Polytechnic having Best Overall Performance – 2006”.
              </li>
              <li class="nav-item">
                  Recipient of Engg. Education Foundation ‘s Award: “The Polytechnic having Best Overall Performance – 2010”
              </li>
          </ul>
   
        <br>

        <div class="row">
        <div class="col-sm-7">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="bg-secondary text-white">
                  <th>Vision of Institute</th>
                  <th>Mission of Institute</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>To become a Center of Excellence, providing quality technical education and training.</td>
                  <td>The mission of Government Polytechnic, Nagpur <br> is- <br> 
                    1. To frame institutional policies for effective implementation of teaching learning process <br>
                    2. To inculcate values and ethics for life-long learning through curricular, co-curricular and extra-curricular activities <br>
                    3. To develop facilities and services for academic excellence <br>
                    4. To enhance the skills of faculties and staff through industry institute collaboration.</td>
                </tbody>
              </table>          
                 </div>              
                    <div class="card">
                        <div class="card bg-secondary text-white">
                            <div class="card-body">Important Milestones</div>
                          </div>
                      <div class="card-body">
                            <ul class=" nav-tabs">
                            <li class="nav-item">
                                Established in the year 1955 with three branches Civil Engg., Mechanical Engg. and Electrical Engg. each of 60 intakeand having intake qualification Secondary School Certificate (SSC).
                            </li>
                            <li class="nav-item">
                                Diploma in Electronics and Radio Engineering was introduced from the year 1978 having intake qualification Higher Secondary School Certificate (HSC)
                            </li>
                            <li class="nav-item">
                                Part time diploma programmes in Civil and Mechanical Engineering having intake of 30 were introduced in the year 1976.
                            </li>
                            <li class="nav-item">
                                Diploma in Industrial Electronics having intake 30 was introduced from the academic year 1982-83
                              </li>
                              <li class="nav-item">
                                  Diploma in Dress Designing and Garment Manufacturing (DDGM) was introduced from the academic Year 1992-93.
                                </li>
                                <li class="nav-item">
                                    Academic Autonomy is granted to the institute by Government of Maharashtra in the year 1994
                                  </li>
                                  <li class="nav-item">
                                      Institute started developing its own curriculum from the year 1994
                                    </li>
                                    <li class="nav-item">
                                        Institute has started evaluation and certification from the year 1994
                                      </li>
                        </ul>
                      </div>
                    
                  </div>
        
                </div>
        <div class="col-sm-5">
        <h1><span class="badge badge-primary ml-5">NOTICE BOARD</span></h1>
  <ul class=" nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Academic Calender 2019 ODD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Notice FOr Award Of class </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Diploma Admission 2019 Notification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Revised Academic schedule 2018 EVEN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Exam Form Submission Schedule 2018 Even</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Academic Calender 2018 Even</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Online Admission Fees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Course Registration Notice</a>
    </li>
  </ul>
  <h1><span class="badge badge-primary ml-3">CR PROFORM FOR</span></h1> 
  <ul class=" nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">CR PROFORM FOR HOD and Lecture</a>
    </li>
  </ul>  
  <h1><span class="badge badge-primary ml-3">NBA</span></h1>   
  <ul class=" nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">NBA Accreditation</a>
    </li>
  </ul>  

  <h1><span class="badge badge-primary ml-3">NEWS & EVENTS </span></h1> 
  <ul class=" nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">One Week AICTE Sponsred STTP On Empowering
        Innovation With 3D printing(EI-3DP) 1st to 6th July 2019
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Re-quotation for supply of Electrical dept. Equipments/Items dates 11/01/2019
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Re-quotation for supply of Mechanical dept. Equipments/Items dates 11/01/2019
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Re-quotation for supply of Mining ,Textile & Metallurgy dept. Equipments/Items dates 11/01/2019
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">One Week AICTE Sponsred STTP On Empowering
        Innovation With 3D printing(EI-3DP) 1st to 6th July 2019
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">One Week FDTP on "Industrial Automation: Need and Future" 18th to 22th February, 2019
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">International Conference on 'Green Energy for Sustainable Development' on 26th, 27th Feb 2019_Boucher
      </a>
    </li>
  </ul>  
  <h1><span class="badge badge-primary">IMPORTANT LINKS </span></h1>   <br>
  <ul class=" nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">MCSR HR Policies
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">GOI Web Directory
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sevarth      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">National Portal Of India
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">MSBTE Mumbai
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Directorate of Technical Education
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Government of Maharashtra
      </a>
    </li>
    </ul>
 
    </div>
</div>



</div>
    </div>
    </div> -->
    
    <div class="container">
                
      <div class="card img-fluid" style="width:100%;margin-top: 10px;">
        <img class="card-img-top" src="assets/images/c1.jpg" alt="Card image" style="width:100%;">
        <div class="card-img-overlay text-dark" style="margin-top:10em;">
          <h4 class="card-title" style="font-size:40px;">Choosing the right  <br>theme for education </h4>
        <p class="card-text">denec vitae sapiean libaero venenaties fausibus.nullam guise ante.etiam sit amet <br>orci eget eros fausibus tincidunt sed fringila mauri amet nibh.</p>
          <a href="#" class="btn btn-warning ml-5">Read More</a>
            <a href="#" class="btn btn-warning ml-2">Get Started</a>
        </div>
      </div>
    