<div class="jumbotron text-center bg-dark" style="margin-bottom:0">
  <div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-3 text-white " style="float:left"> 
        <h2><span class="badge nav-tabs">ABOUT </span></h2>  
            <p>The Government Polytechnic, Nagpur, was founded on 14th July, 1914.
            </p>
            <button type="button" class="btn btn-primary">READ MORE</button>
              </div>
      <div class="col-sm-3 text-white " style="float:left"> 
        <h2><span class="badge nav-tabs">LATEST NEWS & EVENTS</span></h2>  
        <ul style="list-style-type: none">
          <li class="nav-item">
            <p>Admission 2017-2018 Fee Structure. </p>
          </li>
          <button type="button" class="btn btn-secondary">READ MORE</button>
          <li class="nav-item">
            <p>Corrigendum Award of Class Result </p>
          </li>
          <button type="button" class="btn btn-secondary">READ MORE</button>          
          </ul>
          </div>

          <div class="col-sm-2 text-white ml-4 " style="float:left;list-style-type: none;"> 
            <h2><span class="badge nav-tabs">MENU</span></h2>  
            <li class="nav-item">
              <a class="nav-link" href="#">About Institute
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Governing Body
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">C.D.C.
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conatct Us
              </a>
            </li>
      </div>
      <div class="col-sm-3 text-white ml-2 " style="float:left;list-style-type: none;"> 
        <h2><span class="badge nav-tabs">HOW TO REACH</span></h2>  
        <span>Government Polytechnic, Nagpur 
          Near Mangalwari Bazar, Sadar, Nagpur 440 001 
          Phone No:(O) 0712-2564483 
          Fax No: (O) (0712) - 2564483 
          E-Mail : principal.gpnagpur@dte.maharashtra.gov.in
          Web Site : www.gpnagpur.ac.in
          </span>
        
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About Institute
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Governing Body
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">C.D.C.
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conatct Us
          </a>
        </li> -->
  </div>
</div>