<!-- Header changes -->
<div class="mini-header-bar">
  <div class="col-lg-4 col-sm-4 col-md-4 pr-5">
    <a class="active" href="#" class="float-right">
      <i class="fa fa-map-marker" aria-hidden="true"></i><span class="pl-2">127/5 Mark street </span></a>
  </div>                      
  <div class="col-lg-4 col-sm-4 col-md-4 pl-5 ">        
    <a href="#" >
      <i class="fa fa-envelope" aria-hidden="true"></i> <span class="pl-2">info@youmail.com</span>
    </a>
  </div>                      
  <div class="col-lg-4 col-sm-4 col-md-4">
    <span>openning hours:Monaday to Saturday 8am to 5pm</span>
  </div>
</div>   
<div class="container-fluid">                    
  <div class="row main-header-bar">
    <div class="col-lg-8">
      <div class="row" style="height:100%">            
        <div class="header-logo col-lg-2 float-right">
          <img src="assets/images/logo.jpg" alt="Logo"> 
        </div>
        <div class="col-lg-10 align-self-center">
          <span class="font-weight-bold header-label ">GOVERNMENT POLYTECHNIC AURANGABAD </span>
        </div>
      </div>
    </div>    
    <div class="col-lg-4 header-contact align-self-center">
      <div class="row">
          <div class="col-lg-3 float-left p-0"><img src="assets/images/call-male.png" style="float: right" alt="Logo"></div>
          <div class="col-lg-5 pl-10 align-self-center"><span style="font-size:0.8em;">Need Help? Call Us free </span><br><span class="font-weight-bold"> 321 325 5678</span></div>
          <div class="col-lg-4 align-self-center header-login"><a href="">Login</a> / <a href="">Register</a></div>
      </div>
    </div>
    </div>
      <nav class="navbar navbar-expand-sm sticky-top justify-content-center rounded ">
                        <ul class="navbar-nav">
        <li class="nav-item">
          <div class="dropdown">
              <button class="dropbtn">HOME</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
               <div class="dropdown ">
              <button class="dropbtn">ABOUT US</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
                <div class="dropdown">
              <button class="dropbtn">COURSES</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
         <div class="dropdown">
              <button class="dropbtn">EVENTS</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
        <div class="dropdown">
              <button class="dropbtn">TEACHERS</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
        <div class="dropdown">
              <button class="dropbtn">BLOG</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
               <div class="dropdown">
              <button class="dropbtn">SHOP</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
              <div class="dropdown">
              <button class="dropbtn">CONTACT</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
        </li>
      </ul>
       <div style="margin-left:120px;"><a href="#"><i class="fa fa-search" aria-hidden="true" style="font-size: 25px;color:black;"></i></a></div>
    </nav>                     
</div>  
